<title> APR SoMa Grand Opening</title>
<h1>SOMA Grand Opening</h1>
<p>This will be the landing page for folks looking up the event.</p>
<p> Design will be added when the Marketing Team sends a comp over. </p>
<p> In the meantime, simple navigation should be established.</p>
